
<div class="container">
    <h2>User Profile</h2>
    <div class="d-flex align-items-center">
        <div class="avatar-xxl avatar-indicators avatar-online me-2
          position-relative d-flex justify-content-end
          align-items-end mt-n10">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar-xxl
            rounded-circle border border-2 " alt="Image">
          <a href="#!" class="position-absolute top-0 right-0 me-2">
            <img src="https://dashui.codescandy.com/dashuipro/assets/images/svg/checked-mark.svg" alt="Image" class="icon-sm">
          </a>
        </div>
    <div class="profile-details">
        <label for="name">Name:</label>
        <p id="name">{{user.username}}</p>
    </div>
    <div class="profile-details">
        <label for="email">Email:</label>
        <p id="email">{{user.email}}</p>
    </div>
    <div class="profile-details">
        <label for="email">UserId:</label>
        <p id="email">{{user.id}}</p>
    </div>
    <div class="profile-details">
        <label for="phone">Phone:</label>
        <p id="phone">{{user.phone}}</p>
    </div>
    <div class="profile-details">
        <label for="bio">Role:</label>
        <p id="bio">{{user.authorities[0].authority}} </p>
    </div>
    <div class="profile-details">
        <label for="bio">Status:</label>
        <p id="bio">{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</p>
    </div>
    <button class="btn" onclick="editProfile()">Edit Profile</button>
</div>

<script>
    function editProfile() {
        // Simulate editing functionality
        alert("Edit profile functionality can be implemented here.");
    }
</script>
