{{quizzadd|json}}
<div class="container">
  <form >
    <div class="row">
        <div class="col-25">
        <label for="fname">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="content" name="content" placeholder="Title.." [(ngModel)]="quizzadd.title" required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="lname">Discroption</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Discroption.." [(ngModel)]="quizzadd.description" required>
      </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="fname">Max Marks</label>
      </div>
      <div class="col-75">
        <input type="text" id="maxMarks" name="maxMarks" placeholder="Max Marks.." [(ngModel)]="quizzadd.maxMarks" required>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
        
        <label for="fname">Number Of Questions</label>
      </div>
      <div class="col-75">
        <input type="text" id="content" name="numberOfQuestions" placeholder="Number Of Questions.." [(ngModel)]="quizzadd.numberOfQuestions" required> 
      </div>
    </div>

    <div >
        <div >
            <label class="switch">
                <input type="checkbox" checked [(ngModel)]="quizzadd.active" name="active" required>
                <span class="slider round"></span>
              </label>
        <label for="fname">Publish Status</label>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Catagory</label>
      </div>
      <div class="col-75" >
        
  
  <select matNativeControl required  name="category" [(ngModel)]="quizzadd.category.cid" required> 
    
    <option *ngFor="let cat of catagorylist" 
     [value]="cat.cid" 
   >{{cat.title}}</option>
  </select>
      </div>
    </div>
    <div class="row">
      <input type="submit"  (click)="addQuizz()" value="Submit">
    </div>
  </form>
</div>