.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}



.button {
    background-color: #c7c5c5; 
    border: none;
    color: rgb(11, 10, 10);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
